{% assign photographer = site.data.photographers[page.photographer] %}
<a rel="author"
  href="{{ photographer.web }}"
  title="{{ photographer.name }}">
    <p>{{ photographer.name }}</p>
    <p>{{ photographer.web }}</p>
    <p>{{ photographer.twitter }}</p>
    <p>{{ photographer.github }}</p>
    <p>{{ photographer.fb_page }}</p>
</a>



<ul class="photographer_infos" >
{% for photographer in site.data.photographers %}
  <li>
    <p>{{ photographer.name }}</p>
    <a rel="author" href="http://{{ photographer.web }}" title="{{ photographer.name }}" target="_blank">{{ photographer.web }} </a>
    <a href="https://twitter.com/@{{ photographer.twitter }}" target="_blank">{{ photographer.twitter }} </a>
    <a href="https://facebook.com/{{ photographer.fb_page }}" target="_blank">{{ photographer.fb_page }} </a>
    <a href="https://github.com/{{ photographer.github }}" target="_blank">{{ photographer.github }} </a>
  </li>
{% endfor %}
</ul>

