<footer class="footer" role="contentinfo">

  <div class="wrapper">

    <p class="footer__description">{{ site.description }}</p>

    <p class="footer__description">There are currently {{ site.posts | size }} Fumes articles.</p>


    <div class="footer__socialicons">
    {% for svg in site.socialicons %}

      <a target="_blank" href="{{ svg.gourl }}" title="{{ svg.name }}">{{ svg.content }}</a>

    {% endfor %}

      <a href="#top" title="back to page top">

        {% include svg/use.html id="icn--top" class="top" %}

      </a>

    </div>


  </div>

</footer>
