<div class="post-meta capitalize">

  <div class="ico post">{% include svg/posts.svg %}</div>
  <h1 class="post-title">{{ page.title }}</h1>
  
  {% if page.categories %}
  <div class="ico category">{% include svg/categories.svg %}</div>
  <h4 class="categories">{{ page.categories }} </h4>
  {% endif %}

  
  {% if page.photographer %}
  <div class="ico photog">{% include svg/photog.svg %}</div>
  <p class="photog"> {{ page.photographer }}</p>
  {% endif %}

  {% if page.curator %} 
  <div class="ico curator">{% include svg/curator.svg %}</div>
  <p class="curator"> {{ page.curator }}</p>
  {% endif %}


  <div class="ico tags">{% include svg/tag.svg %}</div>
  <p class="tags">{% for tag in page.tags %}
    <a href="{{base_url}}/tags/{{tag|downcase|slugize}}/">{{tag}}</a>
    {% unless forloop.last %}, {% endunless %} {% endfor %}
  </p>

  
  <div class="ico date">{% include svg/date.svg %}</div>
  <p class="date">{{ page.date | date: "%b %-d, %Y" }}</p>



  <p class="temp" style="text-align: right;" >
    <a target="_blank" href="{{ page.wordpress_url}}">Fumes2.0Link</a>
  </p>

</div>
