



//Reset some basic elements
*, *:before, *:after { box-sizing: border-box; }

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}


// Basic styling
html{
  font-size: $base_font_size;
  background-color: red;
}



body {
  font-family: $base_font_family;
  font-size: $base_font_size;
  line-height: $base_line_height;
  font-weight: 300;
  color: $text_color;
  background-color: transparent;
  -webkit-text-size-adjust: 100%;

}

::selection{ color: red;}
a::selection{ color: orange;}




//Set `margin-bottom` to maintain vertical rhythm
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical_rhythm {
    margin-bottom: $spacing_unit / 2;
}


//Images
img {
  vertical-align: middle;
  margin-top: $spacing_unit;
  margin-bottom: $spacing_unit / 2;
}


// Figures
figure > img {display: block;}
figcaption {font-size: $small_font_size;}


//Lists
ul, ol {margin-left: $spacing_unit;}

li {
  > ul,
  > ol {margin-bottom: 0;}
}


//Blockquotes
blockquote {
  border-left: 3px solid $grey_color_dark;
  padding-left: $spacing_unit / 2;
  font-size: $base_font_size * 1.3;
  letter-spacing: -1px;
  font-style: italic;

  > :last-child { margin-bottom: 0; }
}

//SVGs
svg{
  width:100%;
  height:100%;
  fill: $icon_color;
  path { fill: inherit;}
}



//Code formatting
pre,
code {
  font-size: $base_font_size * 1.1;
  border: 1px solid $grey_color_light;
  border-radius: 3px;
  background-color: $black;
}

code { padding: 1px 5px; }

pre {
  padding: 8px 12px;
  overflow-x: scroll;

  > code {
      border: 0;
      padding-right: 0;
      padding-left: 0;
  }
}

.capitalize,
.capitalize > *{text-transform: capitalize; }



//future print styles
.qrcode {
  display: none;
}
// when toggled and print
.qrcode_showing .qrcode { display: block; }
@media print {
  .qrcode { display: block; }
}


//http://tympanus.net/codrops/2014/08/19/making-svgs-responsive-with-css/
// one year later not necessary anymore ... well maybe
// fact is that it break some svg placements and no point of using it
// at least 'till i can test on IE'... lets keep it here...
// .padding_hack{
//   width: 50%;
//   height: 0;
//   padding-top: 48%;
//   position: relative;
//   svg {
//     position: absolute;
//     top: 0;
//     left: 0;
//   }  
// }
