.button {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: solid 1px orange;
  color: orange;
  a {
    color: orange;
    width: auto;
    min-width: 0;
  }
}
.fineartprint_block {
  text-align: center;
}
.fineartprint_block_button {
  a {
    display: block;
    min-height: 42px;
    line-height: unset;
    padding: 1rem;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  a[target="_blank"]:before {
    display: none!important;
  }
}
