//Wrapper
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
    max-width:         calc(#{$content-width} - (#{$spacing-unit}));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
    @extend %clearfix;

    @include media( "screen", ">bp1Width", "<maxWidth"){
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
        max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
        padding-right: $spacing-unit;
        padding-left: $spacing-unit;
    }

    @include media( "screen", ">maxWidth"){
        max-width: -webkit-calc(#{$content-width} + (#{$spacing-unit} * 4));
        max-width:         calc(#{$content-width} + (#{$spacing-unit} * 4));
        padding-right: $spacing-unit * 3.3;
        padding-left: $spacing-unit * 3.3;
    }
}

//Page content
.content {
    background-color: $background-color;
    padding: $spacing-unit 0;
}


