//Links

a {
  color: $alert_color;
  text-decoration: none;

  svg {
    fill: darken($alert_color, 30%);
  }

  &:hover {
    cursor: pointer;
    color: darken($alert_color, 20%);

    svg {
      fill: $alert_color;
    }
  }

  &:visited {
    color: darken($alert_color, 50%);
  }

  &:visited:hover {
    color: darken($alert_color, 20%);
  }
}

svg .tblack {
  fill: rgba(22,22,22,.75);
}
