//BEM__BLOCKS
nav {
  padding: 2rem 0;
  background-color: $background-color;
  line-height: $base-line-height * 2;

  label {display: none;}

  //BEM--MODIFIERS
  &.nav--horizontal{
    width: 100%;
    border-top: 0 none;
    .wrapper{
      position: relative;
      @include media( "screen", "<maxWidth"){height: 80px;}
    } 
  }
  &.nav--tags {    
    text-align: center;
    line-height: 1.2;
  }
}

.looper {text-align: justify;}


//BEM__ELEMENTS
.looper__ico{ 
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;

  svg{
    width:4rem;
    position: relative;
    left: calc(50% - 2rem);
    margin: 0 auto;
    fill: $twhite50;
  } 
}

.looper__link {
  white-space:nowrap;
  border-radius: 3px;
  padding: .75rem;
  border: 1px solid transparent;

  &:hover{ border: 1px solid $alert-color;}

  .nav--tags & {border: 0 none;}
}



.nav__link{
  width:5vw;
  height:5vw;
  min-width:60px;
  min-height:60px;
  position:absolute;
  top:0;
  display:block;  

  @include media( "screen", ">minWidth", "<maxWidth"){ 
    min-width:70px;
    min-height:70px;
  }  
  @include media( "screen", ">maxWidth"){ 
    position:fixed;
    max-width:60px;
    max-height:60px; 
  }
  svg{
    position:absolute;
    top: -35px;
  }

}


//BEM MODIFIERS
.nav__link--left{ 
  top:0;
  left:0;
  @include media( "screen", ">maxWidth"){
    left: 1.5vw;
    top:50vh;
  }
}

.nav__link--right{
  top:0;
  right:0;
  @include media( "screen", ">maxWidth"){
    right: 1.5vw;
    top:50vh;
  }
}

  


