
//BEM__ELEMENTS
.post__header { 
    margin-bottom: $spacing-unit; 
}

.post__content {
    margin-bottom: $spacing-unit;

    img{ width: 100%; max-width: 100%; }
}

.post__license {
    margin-top: $spacing-unit * 2;
    margin-bottom: $spacing-unit * 2;
    margin-left: 15%;
    position: relative;
    width: 70%;
    max-width: 70%;
    h5{
        margin-bottom: 0;
        // float:left; 
        // display: inline;
    }
    .ico{
        display: inline;
        position: absolute;
        top:$spacing-unit/6;
    }
    svg{height:100%;}
}

//BEM--MODIFIERS


//NON BEM ELEMENTS
.post-meta {
    margin-left: 3rem;
    margin-right: 3rem;
    @include media( "screen", ">minWidth"){
        margin-left: 4.5rem;
        margin-right: 4.5rem;
    }
    @include media( "screen", ">bp1Width"){
        margin-left: 6rem;
        margin-right: 6rem;
    }
    font-size: $base-font-size * 1.2;
    color: $grey-color;

    svg {
        max-width: 36px!important;
        height: 36px!important;
        fill: $twhite50;
    }
}

.ico{
    padding-bottom: $spacing-unit/4;
    // &.post{ padding-top: $spacing-unit/4; }
    &.tag{ padding-top: $spacing-unit/4; }
}

.post-title {
    font-size: $base-font-size * 1.5;
    letter-spacing: -1px;

    @include media( "screen", ">maxWidth"){
        font-size: $base-font-size * 2;
    }
}

.curator,
.categories,
.tags,
.date{
    line-height: 1.5;
}
