<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="content {%if page.categories%}{{ page.categories }}{%else%}index{%endif%}" role="main" >
      <div class="wrapper">
        {{ content }}
      </div>
    </div>


    {% include nav--posts.html %}

    {% include nav--tags.html %}

    {% include footer.html %}


    {% include scripts_microdata.html %}

    {% include scripts.html %}

  </body>

</html>
