---
layout: default
---
<h1 class="page__title">{{ page.categories | capitalize }}</h1>

<div class="tagpage home__posts">
    {% if site.categories[page.category] %}
        {% for post in site.categories[page.category] %}
            <div class="home__post" >
              <a  class="post-link" href="{{ post.url | prepend: site.baseurl }}">
                <h2>{{ post.title }}</h2>
              </a>
            </div>
        {% endfor %}
    {% else %}
        <p>There are no posts for this category.</p>
    {% endif %}
</div>
