<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">

  {% include head.html %}

  <body {% if page.role != 'home' %}class="has_default_license"{% endif %}>

    {% include header.html %}

    <main class="main" role="main" id="main">

      <div class="content {% if page.categories %}{{ page.categories }}{% else %}index{% endif %} {% if page.css_override_white_bg %}css_override_white_bg{% endif %}">
        <div class="wrapper">
          {{ content }}
        </div>
      </div>

      {% if page.role != 'home' %}
        {% include nav--posts-all.html %}
      {% else %}
        {% include nav--posts.html %}
      {% endif %}

      {% include nav--tags.html %}

    </main>

    {% if page.layout == 'post' %}
      {% include nav--horizzo-titled.html %}
    {% endif %}

    {% include footer.html %}

    {% include scripts_microdata.html %}

    {% include script_fade_on_nav_hover.html %}

    {% include script_ext_link.html %}

    {% include script_append_to_copy.html %}

    {% include script_analytics.html %}

  </body>

</html>
