---
layout: default
---

{% assign photographer = site.data.photographers[page.photographer] %}

<div class="tagpage tagpage__title">
  
  <span class="tagpage__ico" title="photographer">{% include svg/use.html id="icn--photographer" %}</span>
  
  <h1 class="page__title">{{ photographer.name | titlecase }}</h1>

  <div class="photographer__meta">
    {% if photographer.web %}
    <a rel="author" href="http://{{ photographer.web }}" title="{{ photographer.name }}" target="_blank">{{ photographer.web }}</a>
    {% endif %}
        
    {% if photographer.twitter %}
    <a href="https://twitter.com/{{ photographer.twitter }}" title="twitter" target="_blank">twitter: {{ photographer.twitter }} </a>
    {% endif %}
      
    {% if photographer.fb_page %}
    <a href="https://facebook.com/{{ photographer.fb_page }}" title="facebook page" target="_blank">fb-page: {{ photographer.fb_page }} </a>
    {% endif %}

    {% if photographer.fb_profile %}
    <a href="https://facebook.com/{{ photographer.fb_page }}" title="facebook" target="_blank">fb: {{ photographer.fb_profile}} </a>
    {% endif %}

    {% if photographer.tumblr %}
    <a href="http://{{ photographer.tumblr }}.tumblr.com/" title="tumblr" target="_blank">tumblr: {{ photographer.tumblr}} </a>
    {% endif %}

    {% if photographer.gplus %}
    <a href="https://plus.google.com/{{ photographer.gplus }}" title="g+" target="_blank">g+: {{ photographer.gplus}} </a>
    {% endif %}
      
    {% if photographer.github %}
    <a href="https://github.com/{{ photographer.github }}" title="github" target="_blank">github: {{ photographer.github }} </a>
    {% endif %}
  </div>


</div>

<div class="tagpage home__posts">
  {% if site.data.photographers[page.photographer] %}
    {% for post in site.photographers[page.photographer] %}
     <div class="home__post" >
      
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"> 

        <h2>{{ post.title }}</h2>

        <div class="thumb">

          {% if post.thumb %}
          <img src="{{ site.baseurl }}/assets/i/t/{{ post.thumb }}" alt="{{post.title}}">
          {% else %}
          <img class="nothumb" src="{{ site.baseurl }}/assets/i/t/fumesyousuck_thumb_{{photographer.name}}.svg" alt="{{ post.title }}">
          {% endif %}

        </div>

      </a>

    </div>
    {% endfor %}
  {% else %}
    <p>There are no posts for this photographer.</p>
  {% endif %}
</div> 
